
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img defaultimage="/images/default.png" />
    <avatar url="/images/default.png"></avatar>
    <a href="/home" style="display:@(ViewBag.show?"block":"none")">连接地址</a>
</body>
</html>
